.navbarlogo img{
    size: 12%;
    width: 100px;
    height: 110px;
    box-sizing: border-box;
    margin: 2px;
    padding: 0px;
}

.nav-link {
    color: rgb(255, 241, 241);
    display: flex;  
    font-size: 20px; 
   font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-link:hover {
    background-color: rgb(91, 64, 31);
}

.nav-item {
 margin-left: 5rem;
 transition: all .3s ease-out;
}

.header {
    margin: 5px;
    padding: 12px;
}

.nav-item:hover {
    background-color: rgb(199, 164, 121);
    display: flex;
    justify-content: baseline;
}

.navbar {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: rgb(222, 172, 74);
    box-shadow: 0px 0px 10px 1px rgb(255, 238, 238);
}


.nav-links {
    display: flex;
  border: 2px;
    list-style: none;
    text-align: center;
}

.nav-links li{
    margin-right: 10px;
    text-align: center;
    color: beige;
}

.hero {
    display: flex;
    background-color: rgb(226, 200, 151);
    margin: 10px;
    padding: 28px;
    opacity: 90;
    text-align: center;
    border-radius: 25px;

}

.hero h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 100%;
}

.Principal {
    display: flex;
    margin: 5px;
   
}

.containerhero {
    background-color: rgb(199, 166, 127);
    padding: 15px;
    margin: 15px;
    border-radius: 26px;
}

.containerhero img {
    display: flex;
    width: 100%;
    border-radius: 22px;
    object-fit: cover;
    padding: 10px;
}

.containerhero p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}


.grid-galeria {
    margin-top: 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 290px;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    box-sizing: border-box;

}

.grid-galeria div img {
    display: grid;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 2px;
    border: 5px;
    margin: 15px;
    margin-bottom: 5px;
    box-sizing: border-box;
    
}

.card {
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(243, 212, 174);
    width: 250px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgb(65, 48, 23);
    padding: 5px;
}

.card div :hover {
    color: rgb(28, 28, 34);
    transition: 1s;
}

.card img{
    justify-content: center;
         margin: 5px;
         padding: 8px;
         width: 200px;
         padding-left: 18px;
         border-radius: 35px;
    }

    .card h2{
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(170, 130, 93);
    }

.card p {
    text-align: center;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(65, 58, 58);
}

@media screen and (max-width:592px){
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


    .nosotros {
        background-color: rgb(125, 94, 56);
    }



.Quienessomos {
  background-image: url(../img/FONDO.HERO.jpg);
  border-radius: 15px;
  opacity: 90%;
  margin: 30px;
  padding: 20px;
}

    .Quienessomos p {
        background-color: rgb(150, 119, 81);
        border-radius: 15px;
        margin: 20px;
        padding: 20px;
     color: rgb(255, 255, 255);
     opacity: 100%;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
    }

    .Quienessomos h1 {
        background-color: rgb(107, 75, 26); ;
        color: rgb(255, 245, 234);
        text-align: center;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
.alejandra img {
    width: 100%;
    opacity: 90%;
    padding: 22px;
}

.alejandra p {
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: beige;
    text-align: center;
}


.contacto {
    display: flex;
    width: 100%;
    background-color: rgb(204, 168, 124);
    box-sizing: border-box;
    margin: 30px;
    padding: 30px;
    position: relative;
}
.contacto p {
    display: flex;
    text-decoration: wavy;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 40%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    margin: 25px;
    padding: 25px;
}

.contacto img {
    background-size: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 20%;
    box-sizing: border-box;
    border-radius: 30px;
}

.mapa p {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.mapa img {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 2px 4 px rgb(125, 94, 56);
    animation: zoom-in 2s ease-in-out infinite alternate;

}






@media screen and (max-width:600px){
    header {
        flex-direction: column;
        justify-content: center;
    }
}

@media  screen and (max-width:600px) {
    .Principal p {
        display: flex;
        justify-content: center;
    }
    .Principal img {
        display: flex;
    
    }
}


@media screen and (max-width:600px){
    .grid-galeria{
        grid-template-columns: repeat (2,1fr);
        grid-auto-rows: 200px;
    }
    .grid-galeria div img{
        grid-column: 1,1fr;
        grid-row: 1,1fr;
    }
    .img-9 {
        grid-column: span 2;
    }
}

footer {
    width: 100%;
    padding: 50px 0px;
    background-color: rgb(150, 99, 58);

}

.containerfooter {
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.boxfooter {
    display: flex;
    display: inline-block;
    flex-direction: column;
    padding: 30px;
}

.logofooter {
    display: flex;
    justify-content: center;
}